.cat-bar {
    /* background: rgb(58,99,144); */
    background: linear-gradient(90deg,rgba(58,99,144,1) 8%,rgba(90,140,182,1) 31%,rgba(35,71,138,1) 52%,rgba(27,55,125,1) 58%);
    display: flex;
    /* align-items: center; */
    justify-content:center;
    /* padding-top: 0.1rem; */
    left: 0;
    right: 0;
    top: 24px;
    height: 35px;
    width: 940px;
    margin: auto;
    z-index: 300;
    margin-top: 20px;
    margin-bottom: 50px;
}

.cat-row {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    text-decoration: none;
}



.cat-li {
    color: #E5E5E5;
    font-size: 13px;
    font-family: "Motiva Sans", sans-serif;
    font-weight: none;
    text-decoration: none;
}

.cat-li:hover {
    background-color: #54a5d4;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6666666667);
    color: #fff;
    cursor: pointer;
}

.cat-search {
    padding-left: 1rem;
    border-radius: 0.2rem;
    /* background-color: #316282; */
    background-color:#305d8a;
    margin-left: auto;
    overflow: scroll;
    
}

.gamez-link {
    text-decoration: none;
    list-style-type: none;

}

ul {
    list-style-type: none;

}

.dropdown-menu {
    position: absolute;
    top: 156px;
    right: 500px;
    background: #3D4450;
    box-sizing: border-box;
    width: 350px;
    padding: 1px;
    z-index: 1000;
}

.gameimg {
    margin-right: 10px;
}

.gameitem {
    display: flex;
    padding: 5px;
}

.dropdown-item:hover .gamez-title,
.dropdown-item:hover .gamez-price,
.dropdown-item:hover {
    background-color: #dcdedf;
    color: black
}

.gamez-title,
.gamez-price {
    color: white;
    font-family: "Motiva Sans", sans-serif;
}
