.cart-item {
    background-color: #16202d;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 77px;
    min-height: 77px;
    padding: 0 2.5%;
    font-size: 13px;
    line-height: 16px;
}

.cart-page-banner {
    background: rgb(27,40,56);
    background: linear-gradient(90deg, rgba(27,40,56,1) 0%, rgba(34,62,91,1) 50%, rgba(27,40,56,1) 100%);
}

.cart-game-info {
    display: flex;
    align-items: center;
}

.cart-page-content {
    display: block;
    align-items: center;
    justify-content: center;
    width: 940px;
    height: 1189px;
    margin-left: 473px;
    margin-right: 473px;
}

.cart-title-container {
    background: rgb(27,40,56);
    background: linear-gradient(90deg, rgba(27,40,56,1) 0%, rgba(34,62,91,1) 50%, rgba(27,40,56,1) 100%);
}

.game-img {
    object-fit: cover;
    position: relative;
    top: 14px;
}


.h2-cart-title {
    color: white;
    font-size: 34px;
    font-family: "Motiva Sans", sans-serif;
    margin: -4px 0px 0px;
    padding: 2px 0px 0px;
    font-weight: 300;
    text-shadow: 1px 1px 0 rgba( 0, 0, 0, 0.4 );
    letter-spacing: 0.03em;
}

.cart-container-item-list {

    margin-bottom: 10px;
}

.cart-game-title {
    color: #C7D5E0;
    font-size: 13px;
    font-family: 'Motiva Sans', sans-serif;
    margin-left: 17px;
}

.price {
    color: #C7D5E0;
    font-size: 13px;
    font-family: 'Motiva Sans', sans-serif;
    margin-bottom: 2px;
}

.price-container {
    margin-left: auto;
    position: relative;
    top: 12px;
}

.remove-game {
    color: #56707F;
    font-size: 11px;
    font-family: 'Motiva Sans', sans-serif;
}

.checkout-buttons {
    margin-bottom: 5px;
}

.estimated-total-box {
    margin-bottom: 5px;
}

.checkout-content {
    background-color: #16202d;
    width: 100%;
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.estimated-total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.est-total-text {
    color: #C7D5E0;
    font-size: 13px;
    font-family: "Motiva Sans", sans-serif;
    margin: 10px 0px 0px;
}

.est-total-price {
    color: #C7D5E0;
    font-size: 13px;
    font-family: "Motiva Sans", sans-serif;
    padding: 2px 0px 0px;
}

.buy-gift {
    color: #C6D4DF;
    padding: 4px 16px;
    font-size: 13px;
    font-family: "Motiva Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.purchase-myself,
.purchase-gift {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border-radius: 2px;
    border: none;
    display: inline-block;
    padding: 13px 10px;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
    color: #D2E885;
    background: rgb(117,176,34);
    background: linear-gradient(90deg, rgba(117,176,34,1) 23%, rgba(104,159,31,1) 53%, rgba(88,138,27,1) 83%);
    background-color: #5cb85c;
    margin: 0 10px;

}

.purchase-gift:hover,
.purchase-myself:hover {
    color: white;
}

.remove-game:hover {
    color:white;
    cursor: pointer;
}


.cont-shopping {
    background-color: #2a475e;
    color: #67C1F5;
    font-size: 15px;
    font-family: 'Motiva Sans' , sans-serif;
    padding: 0px 15px;
    line-height: 30px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}

.cont-shopping:hover {
    color: white;
    background-color: #67C1F5;
}

.empty-all {
    color: #56707F;
    font-size: 11px;
    font-family: 'Motiva Sans', sans-serif;
    cursor: pointer;
}


.empty-all:hover {
    cursor: pointer;
    color: #67C1F5;
}
