/* .genre-title {
    font-family: "Motiva Sans" , sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1ch;
    text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    text-transform: uppercase
} */

/* .genre-carousel-slider {
    margin: -10px;
} */
/* .genre-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
} */

/* .genre-slide-container {
    background: linear-gradient(90deg,rgba(58,99,144,1) 8%,rgba(90,140,182,1) 31%,rgba(35,71,138,1) 52%,rgba(27,55,125,1) 58%);
    height: 108px;
    margin: 10px;
    width: 100px;

} */
.genre-slide-bg img {
    width: 225px;
    height: 223px;
    /* object-fit: cover; */
}
.genre-title {
    color: white;
    font-family: "Motiva Sans" , sans-serif;
    font-size: 16px;
    font-weight: bold;
    /* letter-spacing: 01ch; */
    /* text-shadow: 0 1px 3px rgb(0 0 0 / 50%); */
    /* padding-top: 40px; */
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
}

/* .genre-caro-cont {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f1922;
    width: 49%;
    margin: 0 auto;
    margin-top: 40px;
} */

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 108px;
  background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
  background-color: #142132;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    background-color: #2e6f9e;
    color: white;
}
