.genre-title {
    font-family: "Motiva Sans" , sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1ch;
    text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    text-transform: uppercase
}

.genre-slide-container {
    width: 225px;
    height: 223px;
}
