.rpg-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.fgame-image {
    width: 229px;
    height: 106px;
}

.rpg-cardz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rpggame-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 229px;
    margin: 10px;
}

.rpggame-image {
    width: 229px;
    height: 106px;
}

.rpggame-title {
    background: rgb(48,80,108);
    background: linear-gradient(90deg, rgba(48,80,108,1) 20%, rgba(54,93,123,1) 33%, rgba(64,121,153,1) 100%);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    color: white;
}

.rpggame-price {
    background: rgb(48,80,108);
    background: linear-gradient(90deg, rgba(48,80,108,1) 20%, rgba(54,93,123,1) 33%, rgba(64,121,153,1) 100%);
    width: 100%;
    text-align: center;
    color: white;
}

.rpg-text {
    font-size: 14px;
    font-family: 'Motiva Sans', sans-serif;
    color: white;
}
