.search-container {
    position: relative;
    margin-left: auto;
}

.search-results {
    position: absolute;
    background-color: #434953;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 9999;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.search-ul {
    background-color: #434953;
    opacity: 2;
}

.searchbar-input {
    /* padding-left: 1rem; */
    border-radius: 0.1rem;
    background-color: #316282;
    /* margin-left: auto; */
    overflow: scroll;
    height: 35px;
    /* overflow-x: hidden; */
}

.search-item:hover{
    background-color: #DCDEDF;
    color: gray;
    cursor:pointer;
    transition: background 0.2s ease-in-out;
}
