.search-container {
    position: relative;
}

.search-results {
    position: absolute;
    background-color: #434953;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 9998;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.search-ul {
    background-color: gray;
    opacity: 1;
}

.searchbar-input {
    padding-left: 1rem;
    border-radius: 0.2rem;
    background-color: #316282;
    margin-left: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-item:hover{
    background-color: #DCDEDF;
    color: black;
    cursor:pointer;
    transition: background 0.2s ease-in-out;
}
