.search-container {
    position: relative;
    /* background-color:red; */
}

.search-results {
    position: absolute;
    background-color: #434953;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 9999;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}


.search-ul {
    /* display: none; */
    background-color: green;
    opacity: 1;
}

/* .searchbar-dropdown {
    border-top: unset;
    color: #DCDEDF;
    margin: 0;
    padding: 4px 8px;
  

    height: unset;
    transition: background 0.2s ease-in-out;
} */

.searchbar-input {
    padding-left: 1rem;
    border-radius: 0.2rem;
    background-color: #316282;
    background-color:#305d8a;
    margin-left: auto;
    overflow-y: scroll;
}

.search-item:hover{
    background-color: #DCDEDF;
    color: black;
    cursor:pointer;
    transition: background 0.2s ease-in-out;
}
