

.game-carousel-slider img {
    width: 100%;
    height: 340px;
    /* z-index: 10; */
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f1922;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;

}
.slide-game-info{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slick-dots {
    position: absolute;
    bottom: -30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }

  .slick-dots li button {
    width: 15px;
    height: 9px;
    border-radius: 2px;
    background-color: hsla(202, 60%, 100%, 0.2);
    cursor: pointer;
    transition: background-color 0.2s;
    border: 0;
  }

  /* .slick-dots li button:hover {
    background-color: white;
    cursor: pointer;
  } */

  .slick-dots li.slick-active button {
    background-color: #798a9c; /* Set the active dot color */
  }

  .slick-dots li button::before {
    content: none !important;
  }



.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 108px;
  background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
  background-color: #142132;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
    background-color: #2e6f9e;
    color: white;
}

.slick-prev {
  left: -46px;
}

.slick-next {
  right: -45px;
}
