.detail-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-details-title {
    color: white;
    font-size: 26px;
    font-family: 'Motiva Sans' sans-serif;
    line-height: 32px;
    text-overflow: ellipsis;
}


.game-shortinfo {
    display: block;
    margin-left: 10px;
}

.game-block {
    display: flex;
    background-color: #121b26;
}

.game-dev {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #67C1f5;
}

.game-pub {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #67C1f5;
}

.game-pub:hover {
    cursor:pointer;
    color: white;
}

.game-dev:hover {
    cursor:pointer;
    color: white;
}

.flex-row {
    display: flex;
    padding: 9px 0px 13px;
    align-items: center;
}

.game-buy-msg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}


.game-release-date-column {
    color: #8F98A0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.game-small-desc {
    max-width: 324px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c4df
}

.game-tag-label-row {
    color: #556772;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.game-tagz {
    display: inline-block;
    line-height: 19px;
    background-color: #67C1F533;
    color: #67C1F5;
    padding: 0px 7px;
    margin: 0px 2px 3px 0px;
    border-radius: 2px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle-column {
    color: #556772;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 0px 10px 0px 0px;
}

h2 {
    color: white;
}

.windows-icon {
    color:white;
    margin-left: auto;
    font-size: 25px;
    background-repeat: no-repeat;
}

.game-buy-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
    background: rgb(27,40,56);
    background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
    padding: 16px;
    padding-bottom: 26px;
    z-index: 1;
    border-radius: 4px;
}

.h1-buy {
    font-weight: normal;
    color: white;
    font-size: 21px;
    font-family: 'Motiva Sans', sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;

}


.buy-info {
    flex: 1;
}

.buy-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}



.price-info-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 15px;
    position: relative;
    z-index: 5; /* Ensure the game-purchase-action is on top */
    top: -21px;
}

.game-price {
    display: flex;
    justify-content: center;
    background: black;
    color: #C6D4DF;
    font-size: 15px;
    font-family: 'Motiva Sans', sans-serif;
    align-items: center;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    height: 36px;
    border: 3px solid black;
}

.add-to-cart {
    display: flex;
    border: 3px solid black;
    align-items: center;
    border-radius: 2px;
    background: rgb(117,176,34);
    background: linear-gradient(90deg, rgba(117,176,34,1) 23%, rgba(104,159,31,1) 53%, rgba(88,138,27,1) 83%);
    background-color: #5cb85c;
    color: #D2EFA9;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Motiva Sans', sans-serif;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    height: 36px;
}

.add-to-cart:hover {
    color: white;
    cursor: pointer;
}

h2 {
    color: white;
    font-size: 14px;
    font-family:'Motiva Sans', sans-serif;
    padding: 2px 0px 4px;
}

.all-reviews {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-block {
    background-color: #16202d ;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.review-leftcol {
    flex-basis: 33.33%;
    display: flex;
}

.review-rightcol {
    flex-basis: 66.67%;
}

.review-content {
    color: #ACB2B8;
    font-size: 13px;
    font-family: 'Motiva Sans', sans-serif;
    font-weight: normal;
    line-height: 17px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.review-recommended-header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #121a24;
    padding: 8px 0;
}

.review-user {
    color: #C1DBF4;
    font-size: 13px;
    font-family: 'Motiva Sans', sans-serif;
    padding: 0 10px;
}

.review-user-icon {
    color: white;
    padding: 5px 10px;
}

.recommended-text {
    font-size: 16px;
    font-family: 'Motiva Sans', sans-serif;
    padding: 3px 0px 0px;
    color: #D6D7D8;
}

.thumbs-down-icon {
    color: #e06263
}

.thumbs-up-icon {
    color: #60b5e7;
}
